* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #acd;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  height: 400px;
  width: 400px;
  background: #ccd;
  margin: 10px;
  padding: 30px;
  text-align: center;
}
.list {
  padding: 20px;
  background: rgb(87, 3, 243);
  display: flex;
}

.listItem {
  background: rgb(241, 228, 166);
  display: flex;
  align-items: center;
}
